body {
    font-family: Futura, Verdana, sans-serif;
}

h2 {
    color: #ff9f1c;
}

h3 {
    color: #2ec4b6;
}

.main {
    width: 50%;
    margin: 0 auto;
}

.titre {
    text-align: center;
}

.photo {
    margin: 0 auto;
}